@model List<CommonData.Models.BlogModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Manage Blogs";
}

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-success mb-3" asp-controller="Blog" asp-action="CreateBlog">Create new blog</a>
}


<div class="row g-5">
    @if (Model != null && Model.Count > 0)
    {
        @foreach (var blog in Model)
        {
            <div class="col-md-8">
                <article class="blog-post">
                    <h4>@blog.Title</h4>
                    <p>@blog.Description</p>
                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.BlogId">View</a>
                </article>
            </div>
            <hr />
        }
    }
    else
    {
        <p>No blogs available, Come back later</p>
    }
</div>